########################
### Project specific ###
documentation/website/project
helm.output
akka-diagnostics

####################
### Local config ###
terraform.tfvars
terraform.tfvars.dev

kubeconfig_*
deploy/helm/dev-values.*.yaml

keycloak*.json
target-env.sbt
**/dev-env.conf


###############
# All bellow could be shared accros many sbt projects (on developer machine: https://github.com/flipadmin/command-line-tools/blob/develop/templates/.gitignore-template)

###############
### General ###
# all "hidden" files/folders are most of the time intentional NOT to share with others, if we want to track those we should EXPLICITLY mention file
.*
!.github
!.gitignore
!.env.template

############
### Logs ###
*.log
**/*-log-*.gz

#############################
### Java, Scala - compiled###
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

#################
### JetBrains ###
*.iml
.idea
.idea_modules
out/

###########
### SBT ###
!.sbtopts
!.scalafmt.conf
!.scalafix.conf

target/
dist/*
.history
.lib/
